<div class="d-flex align-items-center">
  <div class="m-4">
    <div class="profil_image mx-md-5" style="width: 150px; height: 150px; background-image: url(<%= @user.image.url %>);"></div>
  </div>
  <div>
    <div class="d-flex align-items-center">
      <h1 class="mx-3"><%= @user.name %></h1>
      <div class="mx-3"><%= link_to 'Editer le profil', edit_user_path(@user), class: "btn border" %></div>
      <i class="mx-3 m-2 bi bi-gear-wide"></i>
    </div>
    <div>
      <span class="mx-3">0 messages</span>
      <span class="mx-3">0 abonnés</span>
      <span class="mx-3">1 suivant</span>
    </div>
  </div>
</div>
<hr>
<div class="d-flex">
  <div class="flex-grow-1" id="main_content" style="width: 60%; margin:0px; padding: 0px;">
    <div class="d-flex justify-content-between mt-3">
      <h1>Mes posts</h1>
      <div><%= link_to 'Nouveau post', new_post_path, class: "btn btn-primary" %></div>
    </div>
    <% @posts.each do |post| %>
      <div class="card my-5">
        <div class="card-header">
          <div  class="d-flex align-items-center">
            <div class="profil_image m-2" style="width: 40px; height: 40px; background-image: url(<%= post.user.image.url %>);"></div>
            <div>
              <div><%= post.user.name %></div>
              <div><small><%= post.user.email %></small></div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div><%= image_tag(post.image.url, class: "w-100") if post.image && post.image.url %></div>

          <h4><strong><%= post.title %></strong></h4>
          <div><%= post.content %></div>
        </div>
        <% if post.user.id==current_user.id %>
          <div class="card-footer d-flex justify-content-around">
            <div><%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary" %></div>
            <div><%= link_to 'Destroy', post, class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </div>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
