<div class="d-flex">
  <div class="flex-grow-1" id="main_content" style="width: 60%; margin:0px; padding: 0px;">
    <div class="d-flex justify-content-between mt-3">
      <h1>Les informations suivantes doivent être publiée.</h1>
    </div>
    <div class="card my-5">
      <div class="card-header">
        <div  class="d-flex align-items-center">
          <div class="profil_image m-2" style="width: 40px; height: 40px; background-image: url(<%= @post.user.image.url %>);"></div>
          <div>
            <div><%= @post.user.name %></div>
            <div><small><%= @post.user.email %></small></div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div><%= image_tag(@post.image.url, class: "w-100") if @post.image && @post.image.url %></div>
        <h4><strong><%= @post.title %></strong></h4>
        <div><%= @post.content %></div>
      </div>
      <div class="card-footer">
        <%= form_with(model: @post, local: true) do |form| %>
          <%= form.hidden_field :title %>
          <%= form.hidden_field :content %>
          <%= form.hidden_field :image%>
          <%= form.hidden_field :image_cache %>
          <%= form.hidden_field :user_id %>
          <div class="d-flex justify-content-around">
            <div><%= form.submit  "Publier", class: "btn btn-primary text-white" %></div>
            <div><%= link_to "Annuler", new_post_path, class: "btn btn-danger text-white" %></div>
          <div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'sugestions' %>
</div>