<!DOCTYPE html>
<html>
  <head>
    <title>CloneInsta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <header class="header d-flex justify-content-between p-3">
        <div>
          <%= image_tag("inta.png", :alt => "logo", :width => "50") %>
        </div>
        <div>
          <input type="text" class="d-none d-md-inline" placeholder="Rechercher sur Facebook">
        </div>
        <div>
          <div>Accueil</div>
          <div>Messagerie</div>
          <div>Explore</div>
          <div>Favories</div>
          <div>
            Profil
            <ul>
              <li>Profil</li>
              <li>Enregistré</li>
              <li>Paramètre</li>
              <li>Changer de compte</li>
              <li><%= link_to "Se déconnecter", destroy_session_path %></li>
            </ul>
          </div>
        </div>
      </header>
    <% end %>
    <% if @user %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
